<div class="result-header">
  <h1><%= @message %></h1>
<div class="index">
  <%#= simple_form_for @boyfriend, :url => boyfriends_path, :method => :get do |f|%>
  <%#= f.input :location, input_html: { value: @location }%>
  <%#= f.input :likes, label: 'Average likes', input_html: { class: 'js-range-slider', value: @likes } %>
  <%#= f.input :pet%>
  <%#= f.button :submit, 'Browse Instaboys', class: 'btn-stretch' %>
  <%# end %>
  <div class="cards">
    <% @boyfriends.each do |boyfriend| %>
      <%= link_to boyfriend_path(boyfriend) do %>
        <div class="card-bf">
          <div class="bf-upperwrap">
            <img src="https://source.unsplash.com/collection/566311/<%= rand(1..268) %>", alt: <%= boyfriend.user.name %>, class="avatar" style="object-fit: cover">
            <!-- DON'T DELETE next line! Need cl_image_tag for actual user input, but img for hard code for demo purposes
              <%#= image_tag "https://source.unsplash.com/collection/566311/", alt: boyfriend.user.name, class:"avatar"%> -->
            <span><%= boyfriend.name %></span>
          </div>
          <img src="https://source.unsplash.com/collection/2303600/<%= rand(1..268) %>" alt= <%= boyfriend.name %>, class="card-bf-picture">
          <%#= image_tag "img1.jpg", alt: boyfriend.name, class:"card-bf-picture"%>
          <div class="bf-text">
            <div>
              <%= image_tag "instaheart.png", alt: "Likes Icon", id:"heart-icon" %><span id="likes"><%= boyfriend.likes %> Likes</span>
              <span id="height-text"><%= boyfriend.height.fdiv(100) %>m</span> <%= image_tag "height_icon.png", alt: "Height Icon", id:"height-icon" %>
            </div>
            <div>
              <%= image_tag "phone.png", alt: "Phone Icon", id:"phone-icon" %><span id="phone-model"><%= boyfriend.smartphone_model %></span>
              <span id="location"><%= boyfriend.location.match(/(?<=\, ).*/)%></span> <%= image_tag "pin.png", alt: "Pin Icon", id:"pin-icon" %>
            </div>
            <div>
              <%= image_tag "paw.png", alt: "Paw Icon", id:"paw-icon" %><span id="pet"><%= boyfriend.pet.capitalize %></span>
              <span id="price">€<%= boyfriend.price %></span> <%= image_tag "pricetag.png", alt: "Price Icon", id:"price-icon" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  </div>
  </div>


<%#= content_for(:after_js) do %>
<%#= javascript_pack_tag 'slider_for_likes' %>
<%# end %>
