<h1><%= @message %></h1>
<div class="cards">
  <% @boyfriends.each do |boyfriend| %>
    <%= link_to boyfriend_path(boyfriend) do %>
      <div class="card-bf">
        <div class="bf-upperwrap">
          <%= image_tag "logo.png", alt: boyfriend.user.name, class:"avatar"%>
          <span><%= boyfriend.name %></span>
        </div>
        <img src="https://source.unsplash.com/collection/2303600/<%= rand(1..268) %>" alt= <%= boyfriend.name %>, class="card-bf-picture">
        <%#= image_tag "img1.jpg", alt: boyfriend.name, class:"card-bf-picture"%>
        <div class="bf-text">
          <div>
            <%= image_tag "instaheart.png", alt: "Likes Icon", id:"heart-icon" %><span id="likes"><%= boyfriend.likes %> Likes</span>
            <span id="height-text"><%= boyfriend.height.fdiv(100) %>m</span> <%= image_tag "height_icon.png", alt: "Height Icon", id:"height-icon" %>
          </div>
          <div>
            <%= image_tag "phone.png", alt: "Phone Icon", id:"phone-icon" %><span id="phone-model"><%= boyfriend.smartphone_model %></span>
            <span id="location"><%= boyfriend.location %></span> <%= image_tag "pin.png", alt: "Pin Icon", id:"pin-icon" %>
          </div>
          <div>
            <%= image_tag "paw.png", alt: "Paw Icon", id:"paw-icon" %><span id="pet"><%= boyfriend.pet.capitalize %></span>
            <span id="price">59.90€</span> <%= image_tag "pricetag.png", alt: "Price Icon", id:"price-icon" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Add a Boyfriend', new_boyfriend_path%>
