
<div class="container">

  <h1><%= @boyfriend.name %></h1>
  <h2><%= @boyfriend.description %></h2>

<br>

  <h3>Reviews</h3>
    <% if @boyfriend.reviews.empty? %>
      <p>Let us know how he was!</p>
    <% else %>
      <ul class="list-group">
        <% @boyfriend.reviews.each do |review| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="badge badge-danger badge-pill">
              <% counter = 0 %>
              <% 5.times do %>
                <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o'%>"></i>
                <% counter += 1 %>
              <% end %>
            </span>
            <%= review.description %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <%= render "reviews/new", boyfriend: @boyfriend, review: @review %>
  <br>
  <%= link_to 'Back to home page', boyfriends_path %>
</div>