<div class="main-container" id="img">
  <div class="search-container row">
    <h2>Rent an Instagram Boyfriend</h2>
    <div class="form">
      <div class="input1 col-12">
        <%= simple_form_for :search, :url => boyfriends_path, :method => :get do |f|%>
        <%= f.input :location %>
      </div>
      <div class="input2 col-12">
        <%= f.input :likes, label: 'Average likes', input_html: { class: 'js-range-slider' } %>
        <%= f.button :submit, 'Browse Instaboys', class: 'btn-stretch' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
<%= javascript_pack_tag 'slider_for_likes' %>
<% end %>
