<div class="main-container" id="img">
  <div class="card">
    <div class="form">
      <%= simple_form_for(@boyfriends) do |f|%>
      <%= f.input :location %>
      <%= #f.input :likes %>
      <%= #f.input :height %>
      <%= #f.input :smartphone_model, collection: ['iPhone 11 Pro', 'iPhone Xs', '< iPhone X', 'Oppo A5', 'Samsung Galaxy S10+', 'Huawei Mate 20', 'Nokia 6600', 'Blackberry Pearl 8100'] %>
      <%= #f.input :pet, collection: ['Huskey', 'Chichuahua', 'Dachshund', 'Guinea Pig', 'Ferret', 'New York Rat', 'Cat', 'Goldfish'] %>
      <%= #f.input :category, collection: ['Beach', 'Adventure', 'Cosy', 'Watersport', 'City'] %>
      <%= f.submit class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>

